snippet vueComp "VUE component"
<template>
	<div></div>
</template>
<script>
export default {
	name: '$1',
	props: [],
	components: {},
	data(){
		return {}
	},
	computed: {},
	methods: {}
}
</script>
<style lang="css" scoped>
</style>
endsnippet

snippet cl "console.log"
console.log($1)
endsnippet

snippet div "div"
<div class="$1"></div>
endsnippet
